<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Feed Master</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="/styles.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="alternate" type="application/rss+xml" title="{{.Name}}" href="{{.RSSLink}}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>


<body>


<header class="ump-feed-master-header">
    <div class="ump-feed-master-header__brand">
        <div>
            <span class="ump-feed-master-name">Feed Master</span>
            <span class="ump-feed-master-info">Items</span>
        </div>
    </div>
    <div class="ump-feed-master-header__meta">
        <a href="{{.RSSLink}}" class="ump-feed-master-header-link">RSS</a>,&nbsp;{{.Feeds}} feeds,&nbsp;<span data-toggle="tooltip" title="{{.SinceLastUpdate}}">{{.LastUpdate.Format "02 Jan 2006 15:04:05 MST"}}</span>
    </div>
</header>

<main class="ump-feed-master">
    {{range .Items}}
    {{if .Junk}}
    <div class="ump-feed-master__data-row junk-row">
    {{else}}
    <div class="ump-feed-master__data-row">
    {{end}}
        <div class="ump-feed-master__data-row-player-cell">
            <a href="{{.Enclosure.URL}}" target="_blank">
                <i class="fas fa-volume-up" data-toggle="tooltip" title="{{.DurationFmt}}"></i>
            </a>
        </div>
        <div class="ump-feed-master__data-row-info-cell">
            <div>
                <a href="{{.Link}}"
                   target="_blank"><span class="ump-feed-master-program-name">{{.Title}}</span>
                </a>
            </div>
            <div class="ump-feed-master-timestamp-cell">
                {{if .Junk}}
                <i class="fas fa-exclamation-circle"
                   data-toggle="tooltip"
                   title="Junk - excluded from target rss feed">
                </i>
                {{end}}
                <span class="ump-feed-master-duration-cell">{{.DurationFmt}}</span>
                <span>{{.DT.Format "02 Jan 15:04"}}</span>
            </div>
        </div>
    </div>
    {{end}}
</main>

<footer class="ump-feed-master-footer">
    &copy; 2022 Umputun |  <a  href="https://github.com/umputun/feed-master">Open Source, MIT License</a>
</footer>


    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

</body>

</html>
